/* Button UI */
.pzp.pzp-pc button.improved-naver-video-plugin__ui-button {
    width: 36px;
    height: 36px;
    margin-right: 2px;
    opacity: 0;
    transition-property: opacity;
}
.pzp.pzp-pc.pzp-pc--controls button.improved-naver-video-plugin__ui-button {
    opacity: 1;
}
.pzp.pzp-pc button.improved-naver-video-plugin__ui-button span.pzp-ui-setting-quality-item__prefix,
.pzp.pzp-pc button.improved-naver-video-plugin__ui-button span.pzp-ui-setting-playbackrate-item__value {
    white-space: nowrap;
    font-size: 12px;
}

/* Volume Slider */
.pzp.pzp-pc .pzp-pc__volume-control .improved-naver-video-plugin__volume-slider-hover-helper {
    position: absolute;
    width: 90px; /* 80px + margin(10px) */
    height: 36px;
    transform: translateX(44px); /* button(36px) + margin(8px) */
}
.pzp.pzp-pc .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider .improved-naver-video-plugin__volume-slider-hover-helper {
    width: 130px; /* 120px + margin(10px) */
}
.pzp.pzp-pc .pzp-pc__volume-control .improved-naver-video-plugin__volume-slider-hover-helper:hover ~ .pzp-pc__volume-slider,
.pzp.pzp-pc .pzp-pc__volume-control:has(~ .pzp-pc__vod-time:hover) .improved-naver-video-plugin__volume-slider-hover-helper ~ .pzp-pc__volume-slider {
    width: 80px;
}
.pzp.pzp-pc .pzp-pc__bottom-buttons-right .improved-naver-video-plugin__volume-slider-hover-helper-blocker {
    position: absolute;
    height: 36px;
    transform: translateX(23px); /* margin-right */
}
.pzp.pzp-pc.pzp-pc--keyboard .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider .pzp-pc__volume-button:focus ~ .pzp-pc__volume-slider,
.pzp.pzp-pc.pzp-pc--keyboard .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider .pzp-pc__volume-slider:focus,
.pzp.pzp-pc .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider:hover > .pzp-pc__volume-slider,
.pzp.pzp-pc.pzp-pc--active-volume-control .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider .pzp-pc__volume-slider,
.pzp.pzp-pc .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider .improved-naver-video-plugin__volume-slider-hover-helper:hover ~ .pzp-pc__volume-slider,
.pzp.pzp-pc .pzp-pc__volume-control.improved-naver-video-plugin__extend-volume-slider:has(~ .pzp-pc__vod-time:hover) .improved-naver-video-plugin__volume-slider-hover-helper ~ .pzp-pc__volume-slider {
    width: 120px; /* original width: 80px */
}
