.pzp-pc button.improved-naver-video-plugin__pzp-pc-ui-button {
    width: 36px;
    height: 36px;
    margin-right: 2px;
    opacity: 0;
    transition-property: opacity;
}
.pzp-pc.pzp-pc--controls button.improved-naver-video-plugin__pzp-pc-ui-button {
    opacity: 1;
}
.pzp-pc button.improved-naver-video-plugin__pzp-pc-ui-button span.pzp-pc-ui-setting-quality-item__prefix,
.pzp-pc button.improved-naver-video-plugin__pzp-pc-ui-button span.pzp-pc-ui-setting-playbackrate-item__value {
    white-space: nowrap;
    font-size: 12px;
}
