/* Button UI */
.pzp .INVP__ui-button {
    width: 36px;
    height: 36px;
    opacity: 0;
    transition-property: opacity;
}
.pzp.pzp-pc--controls .INVP__ui-button {
    opacity: 1;
}
.pzp .INVP__ui-button .INVP__ui-label {
    white-space: nowrap;
    font-size: 12px;
}
.pzp .pzp-pc__volume-slider:not([aria-valuenow="100"]) ~ .INVP__extend-max-volume {
    display: none;
}

/* Volume Slider */
.pzp.pzp-pc--keyboard .pzp-pc__volume-control.INVP__extend-volume-slider .pzp-pc__volume-button:focus ~ .pzp-pc__volume-slider,
.pzp.pzp-pc--keyboard .pzp-pc__volume-control.INVP__extend-volume-slider .pzp-pc__volume-slider:focus,
.pzp.pzp-pc .pzp-pc__volume-control.INVP__extend-volume-slider:hover > .pzp-pc__volume-slider,
.pzp.pzp-pc--active-volume-control .pzp-pc__volume-control.INVP__extend-volume-slider .pzp-pc__volume-slider {
    width: 120px; /* original width: 72px */
}
.pzp.pzp-pc .pzp-pc__volume-control.INVP__remove-volume-slider-animation .pzp-pc__volume-slider {
    transition-property: none;
}
.pzp.pzp-pc--keyboard .pzp-pc__volume-control.INVP__remove-volume-slider-animation .pzp-pc__volume-button:focus ~ .pzp-pc__volume-slider,
.pzp.pzp-pc--keyboard .pzp-pc__volume-control.INVP__remove-volume-slider-animation .pzp-pc__volume-slider:focus,
.pzp.pzp-pc .pzp-pc__volume-control.INVP__remove-volume-slider-animation:hover > .pzp-pc__volume-slider,
.pzp.pzp-pc--active-volume-control .pzp-pc__volume-control.INVP__remove-volume-slider-animation .pzp-pc__volume-slider {
    transition-property: none;
}
.pzp .INVP__easy-open-volume-slider:hover .pzp-pc__volume-slider {
    overflow: visible;
    width: 72px;
    margin-right: 13px;
}
.pzp .INVP__easy-open-volume-slider:hover .INVP__extend-volume-slider .pzp-pc__volume-slider {
    width: 120px;
}

/* Mouse Pointer */
.pzp:not(.pzp-pc--playing) .pzp-pc__dimmed.INVP__mouse-pointer,
.pzp:not(.pzp-pc--playing) .pzp-pc__header.INVP__mouse-pointer {
    cursor: pointer;
}
