.setting-checkbox {
  height: 20px;
  width: 180px;
  margin: 1px;
}
.setting-checkbox label {
    display: flex; /* align checkbox and label vertically */
    width: fit-content;
    user-select: none;
}

.setting-range {
    display: flex;
    height: 20px;
    width: 180px;
    margin: 1px;
    align-items: center;
}
.setting-range input[type="range"] {
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    flex-grow: 1;
}
.setting-range input[type="range"].disabled {
    opacity: 0.35;
}
.setting-range span.indicator {
    width: 35px;
    flex-shrink: 0;
    text-align: center;
    user-select: none;
}
#defaultVolumeRange {
    margin-right: 64px;
}
#defaultVolumeRange.extended {
    margin-right: 0;
}
