/* Settings General */
#settings {
    width: 150px;
}
.setting-group {
    margin-top: 6px;
    user-select: none;
}
.setting-group span.group-title {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 2px;
}

/* Checkbox Settings */
.setting-checkbox {
    display: flex;
    align-items: center;
}
.setting-checkbox label {
    display: inline-flex; /* align checkbox and label vertically */
}
.setting-checkbox input[type="checkbox"] {
    flex-basis: content; /* prevent growing */
}
#defaultVolumeIndicator {
    margin-left: 2px;
    font-weight: bold;
}
#defaultVolumeIndicator.disabled {
    opacity: 0.35;
}

/* Range Settings */
.setting-range input[type="range"] {
    min-width: 0;
    margin: 2px;
}
.setting-range input[type="range"].disabled {
    opacity: 0.35;
}
#defaultVolumeRange {
    width: calc(50% + 6px);
}
#defaultVolumeRange.extended {
    width: calc(100% - 4px);
}
